# for osx
.DS_Store
*.pyc
.AppleDouble

# these don't wok???
#./moviepicker/userDB.json
#moviepicker/userDB.json
userDB.json

# ignore directory and contents
/movie_picker/__pycache__
/__pycache__
/venv
/scratch
/static/uploads
/static/covers
/scripts/vlc

# VSCode
.vscode