<style>
  /* CSS selectot reference here */
  /* https://www.w3schools.com/cssref/css_selectors.asp */
  
  /* notes on supporting various devices */
  /* https://stackoverflow.com/questions/13550541/media-min-width-max-width */
  /* for printability @media print{} */
    
  /* GRID CSS - https://youtu.be/CC2HkBZuReY */
  /* https://github.com/devchallenges/CSSGrid-Tutorial - boiler plate for exersize*/
  /* what are fr units? */
  /* See Difference between 'fr' & 'auto' section
     - auto fits content - fr (fraction) fits container */
  /* READ THIS https://www.rawkblog.com/2018/03/css-grid-understanding-grid-gap-and-fr-vs-auto-units/ */
  
  /* vocab
  GRIDS are made up of
  ROWS &
  COLUMNS that are separated by
  GRID LINES
  rows & cols are also known as
  TRACKS
  EXPLICIT TRACKS are deifined by user
  IMPLICIT TRACKS are put in automatically by grid
  intersection of two track creates a
  GRID CELL
  a grid starts w/ a parent containers and 
  effects elements ONE LEVEL DOWN
  INCOMPATIBLE:
    display: flex and display: grid
    element cannot be a grid parent and also display: inline-block
  
  NOTES SELECTORS - see css1
  
  .element .symbol {}   any DESCENDANTS of class element of type class=symbol
  EG
  <div class="element">
      <div class="symbol" />    < SELECTED
  </div>

  .element.large .symbol {}
  EG
  <div class="element large">
      <div class="symbol" />    < SELECTED
  </div>  
  
  */
  /* can grid expand to accomodate content - EG synopsis */
  /* Quirks of CSS absolute posistioning: https://webdesign.tutsplus.com/tutorials/the-quirks-of-css-grid-and-absolute-positioning--cms-31437*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* SET UP */

* {
  box-sizing: border-box;
}

ul {
  padding-left: 1.5rem;
}

body {
  font-family: "Poppins", sans-serif;
  color: #333;
  background-color: #DDDDDD;
  margin: 0 auto;
  /*max-width: 1000px;*/
}

.item {
  padding: 8px;
  background-color: white;
  border: 4px solid tomato;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}
#twelve-col-grid, #pancake, #grid-templates, #no-media-query, #twelve-grid, #fr-auto {
  background-color: #ffb49c;
}

.height-50 {
  /* height: 300px; /*height: 50vh;*/
  height: 50vh;
}

/* Task 1 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.task-1.container {
  display: grid;
  height: 600px; /*height: 100vh;*/
  grid-template-rows: auto 1fr auto;
}

/* Task 1a - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*.wrapper {*/
.item.wrapper {
  display: grid;
  height: 600px;
    
  grid-template-columns: auto auto 1fr 1fr; 
  grid-template-rows: 110px auto 1fr 4fr;
  /*
   *
  */
}
.wrapper > div {
  border: 2px solid #ffec99;
  border-radius: 5px;
  background-color: #fff9db;
  padding: 1em;
}




/* Task 2 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.task-2.container {
  background-color: #f4e8ff;
  display: grid;
  height: 600px;
  grid-template-columns: repeat(12, 1fr);
  /*grid-template-rows: 1fr;*/
  /* make 12 columns of same width */
  column-gap: 12px;         /* gap: for row-gap: & column-gap: */
  align-items: center;
}

.task-2 .item-1 {
  /*grid-column-start:2;*/
  /*grid-column-end:6;*/
  /*or*/
  grid-column: 2 / span 4;

  /*height: 300px;*/
  height: 75%;  
  background-color: pink;
}
.task-2 .item-2 {
  grid-column: 6 / span 6;
  height: 50%;
  background-color: yellow;
}

/* Task 3.1 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.task-3-1.container {
    background-color: #fffce8;
    display: grid;
    height:  600px;
    /*grid-template-rows: auto auto 1fr auto 1fr auto;*/ /* 2 equal sized large sections */
    grid-template-rows: auto auto 1fr auto auto auto;
    gap: 24px;
}

/* media laregr than 719px wide */ /* implies .task-3-1.container covers antything smaller than 720px */
@media (min-width: 720px) {
  .task-3-1.container {
    gird-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr auto;
  }

  .task-3-1 .header {
    grid-column: 1 / span 12;
    /*background-color: yellow;*/
  }

  .task-3-1 .navigation {
    grid-column: 1 / span 12;
    /*background-color: yellow;*/
  }

  .task-3-1 .main {
    grid-column: 3 / span 10;
    background-color: gold;
  }

  .task-3-1 .sidebar {
    grid-column: 1 / span 2;
    grid-row: 3;
    background-color: lavender;
  }

  .task-3-1 .ads {
    grid-column: 1 / span 2;
    background-color: lightcyan;
  }

  .task-3-1 .footer {
    grid-column: 3 / span 10;
  }
}


@media (min-width: 1020px) {
  /*
  .task-3-1 .header {
    same so not needed - DELETED
  }*/

  .task-3-1 .navigation {
    grid-column: 3 / span 8;
  }

  .task-3-1 .main {
    grid-column: 3 / span 8;
  }

  .task-3-1 .sidebar {    
    /*grid-row: 2 / 4;*/ /* same as follows */
    grid-row: 2 / span 2;
  }

  .task-3-1 .ads {
    grid-column: 11 / span 2;
    grid-row: 2 / span 2;
  }

  .task-3-1 .footer {
    grid-column: 1 / span 12;    
  }
}



/* Task 3.2 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.task-3-2.container {
  display: grid;
  height: 600px; /*height: 100vh;*/
  background-color: navajowhite;
  /*font-family: Poppins, sans-serif;   /* No effect - try diferent fonts */
  gap: 24px;
  
  grid-template-rows: auto auto 1fr auto auto auto;
  /* NOTE NO **CKING comma between items!*/
  grid-template-areas: "header"
    "navigation"
    "main"
    "sidebar"
    "ads"
    "footer";
}

.task-3-2 .header {
  grid-area: header;
}

.task-3-2 .navigation {
  grid-area: navigation;
}

.task-3-2 .main {
  grid-area: main;
}

.task-3-2 .sidebar {
  grid-area: sidebar;
}

.task-3-2 .ads {
  grid-area: ads;
}

.task-3-2 .footer {
  grid-area: footer;
}

@media (min-width: 720px) {
  .task-3-2.container {
    grid-template-rows: auto auto 1fr auto;
    
    grid-template-areas:
      "header header header"
      "navigation navigation navigation"
      "sidebar main main"
      "ads footer footer";
  }
}

@media (min-width: 1020px) {
  .task-3-2.container {
    grid-template-rows: auto auto 1fr auto;
    
    grid-template-areas:
      "header header header header"
      "sidebar navigation navigation ads"
      "sidebar main main ads "
      "footer footer footer footer";
  }
}

/* Task 4 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.task-4.container {
  background-color: lightblue;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  /* minmax(150px, 1fr) min size 150px, max spread out to 1fr */
  /* appear to behave like felxbox? - comment maybe naive */
  
  /* option auto-fill doesn't expand to fill the container */
  /*grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));*/
}

.task-4 .three {
  /* span 2 columns */
  /*grid-column-end: span 2;*/
}

.task-4 .five {
  grid-column-end: span 2;
}

/* Task 5 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.task-5.container {
  background-color: #defff2;
  display: grid;
  height:  600px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.task-5 .item-1 {
  /*grid-row-start:1;*/
  grid-row: 1 / span 4;      /* NO COMMA!! / instead!! grid-row: 1, span 4; */
  grid-column: 1 / span 4;
}

.task-5 .item-2 {
  /*grid-row-start:5;*/
  grid-row: 3 / span 4;
  grid-column: 3 / span 4;  
}

.task-5 .item-3 {
  grid-row: 8 / span 2;
  grid-column: 8 / span 2;  
}

.task-5 .item-4 {
  grid-row: 11 / span 4;
  grid-column: 3 / span 8;  
}
 

/* Task 6 - Movie Card V1- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.grid-movie-card-v1 {
  background-color: #000000;
  padding: 3px;
  display: grid;
  font-size: 1.5em;
  color: #faf7e1;
  grid-template-rows: auto auto auto auto auto auto auto;
    
  grid-template-areas:
    "poster  poster  poster"
    "title   title   title"
    "runtime .       rating"
    "synop   synop   synop"
    "allcast allcast allcast"
    "genre   genre   genre"
    "control control control" ;
}
  
.grid-movie-card-v1 .poster {
  grid-area: poster;
}
.grid-movie-card-v1 .title {
  grid-area: title;
  font-size: 2em;
  padding: 3px;
}
.grid-movie-card-v1 .runtime {
  grid-area: runtime;
  font-size: 2em;
  padding: 3px;
}
.grid-movie-card-v1 .rating {
  grid-area: rating;
  font-size: 2em;
  padding: 3px;
}
.grid-movie-card-v1 .synop {
  grid-area: synop;
  padding: 3px;
}
.grid-movie-card-v1 .allcast {
  grid-area: allcast;
  font-size: 1.4em;
  padding: 3px;
}
.grid-movie-card-v1 .genre {
  grid-area: genre;  
}
.grid-movie-card-v1 .control {
  grid-area: control;
  justify-self: end;
}
/* Alignment & justification in a grid layout */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Box_Alignment_in_CSS_Grid_Layout */
/* Minmax https://developer.mozilla.org/en-US/docs/Web/CSS/minmax() */
.genre .genre-bt {
  font-size: 1.4em;
}
.control .control-bt{
  font-size: 1.4em;
}
.genre button {
  margin: 3px;  
}
.control button {
  margin: 3px;
}


@media (min-width: 720px) {
  .grid-movie-card-v1 {
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 300px auto auto;
    
    grid-template-areas:
      "poster  title  title   title   rating"
      "poster  title  title   title   runtime"
      "poster  synop  synop   synop   synop"
      "poster allcast allcast allcast allcast"
      "poster  genre  genre   genre   genre"
      "poster control control control control";
  }
  .grid-movie-card-v1 .runtime {
    grid-area: runtime;
    font-size: 2em;
    padding: 3px;
    /*justify-content: end;*/
    justify-self: end;
  }
  .grid-movie-card-v1 .rating {
    grid-area: rating;
    font-size: 2em;
    padding: 3px;
    justify-self: end;
    /*justify-content: end;*/
    /*display: flex;*/
    /*align-items: flex-right; */
  }  
}

@media (min-width: 1020px) {
  
}
  
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Task 6 - Movie Card V2 - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* add variables aka CSS custom properties */
:root {
  --font-size-title: 1.5em;
  --font-size-synopsis: 1.1em;
  --font-size-cast: 1.3em;
  --font-size-buttons: 1.4em;
}

.grid-movie-card-v2 {
  background-color: #000000;
  padding: 3px;
  display: grid;
  font-size: var(--font-size-synopsis);
  color: #faf7e1;
  grid-template-rows: auto auto auto auto auto auto auto;
    
  grid-template-areas:
    "poster  poster  poster"
    "title   title   title"
    "runtime .       rating"
    "synop   synop   synop"
    "allcast allcast allcast"
    "genre   genre   genre"
    "control control control" ;
}

.grid-movie-card-v2 .cast:hover {
  background-color: #666666;
}

.grid-movie-card-v2 .poster {
  grid-area: poster;
}
.grid-movie-card-v2 .title {
  grid-area: title;
  font-size: var(--font-size-title);
  padding: 3px;
}
.grid-movie-card-v2 .runtime {
  grid-area: runtime;
  font-size: var(--font-size-title);
  padding: 3px;
}
.grid-movie-card-v2 .rating {
  grid-area: rating;
  font-size: var(--font-size-title);
  padding: 3px;
}
.grid-movie-card-v2 .synop {
  grid-area: synop;
  padding: 3px;
}
.grid-movie-card-v2 .allcast {
  grid-area: allcast;
  font-size: var(--font-size-cast);
  padding: 3px;
}
.grid-movie-card-v2 .genre {
  grid-area: genre;  
}
.grid-movie-card-v2 .control {
  grid-area: control;
  justify-self: end;
}
/* Alignment & justification in a grid layout */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Box_Alignment_in_CSS_Grid_Layout */
/* Minmax https://developer.mozilla.org/en-US/docs/Web/CSS/minmax() */
.genre .genre-bt {
  font-size: var(--font-size-buttons);
}
.control .control-bt{
  font-size: var(--font-size-buttons);
}
.genre button {
  margin: 3px;  
}
.control button {
  margin: 3px;
}


@media (min-width: 720px) {
  .grid-movie-card-v2 {
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: 300px auto auto;
    
    grid-template-areas:
      "poster  title  title   title   rating"
      "poster  title  title   title   runtime"
      "poster  synop  synop   synop   synop"
      "poster allcast allcast allcast allcast"
      "poster  genre  genre   genre   genre"
      "poster control control control control";
  }
  .grid-movie-card-v2 .runtime {
    grid-area: runtime;
    /*font-size: 2em;*/
    /*padding: 3px;*/
    /*justify-content: end;*/
    justify-self: end;
  }
  .grid-movie-card-v2 .rating {
    grid-area: rating;
    /*font-size: 2em;*/
    /*padding: 3px;*/
    justify-self: end;
    /*justify-content: end;*/
    /*display: flex;*/
    /*align-items: flex-right; */
  }  
}

@media (min-width: 1020px) {
  
}



/* More on Grid: https://www.rawkblog.com/2018/03/css-grid-understanding-grid-gap-and-fr-vs-auto-units/ */
/* Moz: Grid Template Ares: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Grid_Template_Areas */

