<style>
    /* Keyword value/name of color */
    
    /* pre bracket is tag selector (name selects tag type . selects class, # selects id) */
    
    /* elements of class(.) = master */
    .master {
      display: flex;    /* elements in rows adapts to screen */
    }
    
    /* elements of id(#) = top-text */
    #top-text {
      color: purple;
    }
        
    /* elements of class(.) = div-1 */
    .div-1 {
      height: 80px;
      width: 80px;
      margin: 20px;
      border: 5px solid;
      background-color: #FBD603;        
    }

    /* pseudo selector - mouse ove changes size & dims colour*/
    /* elements of class(.) = div-1 + plus pseudo selector(:) hover (mouse hover over element) */
    .div-1:hover {
      width: 180px;
      background-color: #A89100;        
    }
    
    /* TODO - add tool tip (https://www.w3schools.com/css/css_pseudo_classes.asp) using a tag & hover */
    /* add a few more example from this list https://www.w3schools.com/css/css_pseudo_classes.asp */
    
    /* elements of class(.) = div-2 */
    .div-2 {
      height: 80px;
      width: 70px;
      margin: 20px;
      border: 5px solid;
      background-color: #0BD603;        
    }
    
    /* every anchor that follows h2 tag */ 
    h2 + a {
      color: red;
    }
    /* see table */
    /* h2 ~ a  would be the same but both items MUST BE IN THE SAME PARENT */
    /* h2 > a  would be the same but a MUST BE a child */
    /* h2  a  would be the same but a MUST BE a decendent (can be child of child) */
    
    
    /* CSS precedence: tag, class(.), id(#), inline - lowest to highest */
    /* inline are in the html element */
    
    /* this would change id-div-4 but id has higher precedence than tag selector */    
/*    div:last-child {
      color: purple;
      height: 80px;
      width: 140px;
      margin: 20px;
      border: 5px solid;      
      background-color: orange;
    }*/
    
    /* . selects class */    
    .div-3 {
        height: 80px;
        width: 90px;
        margin: 20px;
        border: 5px solid;
        background-color: #0BD6AA;        
    }
    
    /* # selects id */
    #id-div-4 {
        height: 110px;
        width: 90px;
        margin: 20px;
        border: 5px solid;        
        color: beige;
        background-color: #0B16AA;
    }
    
    /* - - - - - - - parent, children, decentants  & table - - - - - - - */
    /* colors by name */
    /* https://www.w3schools.com/colors/colors_names.asp */
    
    /* simple table format */
    table, th, td {                     /* , apply same format to all w/ comma */
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;        
        font-family: arial;
        font-size: 24px;
        font-weight: normal;    
    }
    /* h2 ~ a  would be the same but both items MUST BE IN THE SAME PARENT */
    /* h2 > a  would be the same but a MUST BE a child */
    /* h2  a  would be the same but a MUST BE a decendent (can be child of child) */

    /* > child - table direct decendent of td - cell*/
    td > table {  /* make tables in side cell pink */
        background-color: pink;
    }
    
    /* space li decendant pf tr - can be child, child child etc - in subtree */
    tr  li {
        background-color: cyan;
    }
    
    /* + directly follows - should be a sibling not a child*/
    td + td {
        background-color: olive;
    }

    th {
        background-color: greenyellow;
    }
    /* lightcoral, greenyellow, darkorange, olive */
    
    
    
    
    /* - - - - - - - controlling the <span> style elements - - - - - - - */
    /* img tag decendents of id #span-gallery */
    #span-gallery img {
      width: 80px;
      /*vertical-align: middle;*/ /* this gets rid of white edges INSIDE border */
      vertical-align: top;        /* as does this*/
    }

    /* id span-gallery - <div id=span-gallery> of <span id=>s */
    /*#span-gallery {*/                 /* DOESNT select underlying spans */
    /*#span-gallery .span-gal-img {*/   /* class .span-gal-img decending from id #span-gallery - works */
    #span-gallery span {                /* tag span decending from id #span-gallery - works */    
    /*span {*/                          /* ALL span elements - works - course targeting */
    /*.span-gal-img { */                /* class span-gal-img - spcific to span images*/
      display: inline-block;  /* without this the border appears text height behind the image */
      /*display: inline;*/    /* border appears text height behind the image - span is inline type */
      /*display: block;*/     /* make span line vertically like block elements - border width of screen? */
    }
    
    /* give each movie tile a different colour border based on its class genre descriptor */
    span[class~=sf]{ /* scifi */
        border: 5px solid;
        color: blue;      
    }
    span[class~=ad]{ /* adventure */
        border: 5px solid;
        color: yellow;          
    }
    span[class~=dr]{ /* drama */
        border: 5px solid;
        color: magenta;
      }
    span[class~=fa]{ /* fantasy */
        /*display: inline-block;*/
        border: 5px solid;
        color: darkgreen;    
    }
    span[class~=com]{ /* comedy */
        border: 5px solid;
        color: cyan;    
    }
    span[class~=doc]{ /* documentary */
        border: 5px solid;
        color: red;    
    }
    
    
    /* id span-gallery - <div id=span-gallery> of <span id=>s */
    /*div, .gallery_image{*/     /* */
    /*span {*/                    /* ALL span elements - works - course targeting */
    #div-gallery div { 
      display: inline-block;
    }        

    #div-gallery img {
      width: 120px;
      vertical-align: middle;
      border: 8px solid;      
    }
    
    div[class~=sf]{ /* scifi */
        color: blue;                /* WHY COLOR & NOT BORDER-COLOR ? ? */ 
    }
    div[class~=ad]{ /* adventure */
        /*border: 5px solid;*/
        color: yellow;          
    }    
    
    /* othe selector - regexy type notation */
    /* ing tag w/ attribute src matches string */
    img[src='peasoup.png']{}
    
    /* ing tag w/ attribute src starts w/ string - note caret ^= */
    img[src^='peasoup.png']{}

    /* ing tag w/ attribute src ends w/ string - note dollar $= */
    img[src$='soup.png']{}

    /* ing tag w/ attribute src contains string - note star *= */
    img[src*='soup']{}
    
    /* adding a gradient to element - the whole page (body) here */
    body {        
        /*background: linear-gradient(#e66465, #9198e5);*/
        background: linear-gradient(to bottom, #FFFFFF, #e3fff1);
        /* botoom, top, left, right, */
    }
    
    /* yes no question box */

    .qbox-yn-par {
        width:auto;
        height:100px;
        background:#CCFF33;
        padding:10px;
        margin: 20px 50px;
        position:relative; /* document space left allocated, element position relative to this*/
    }                      /* using top, bottom, left right */
        
    .qbox-yn-menu {
        width:70px;
        height:auto;
        background:#c6eb23;
        color:#888;
        padding:5px 2px;
        /*margin: 5px 5px;*/
        outline: 1px solid #888888; /*use outline not border: 3px;*/
        text-align:center;
        top:5px;
        right:5px;
        position:absolute; /* document space not alocated, element position relative to */
    }                      /* positioned relative to its closest positioned ancestor or */
                           /* nearted containing block */
    .qbox-yn {
        width:70px;
        height:auto;
        background:#f0e932;
        color:#444;
        padding:5px 2px;
        /*margin: 5px 5px;*/
        outline: 1px solid #888888; /*use outline not border: 3px;*/
        text-align:center;
        position:absolute;
        bottom: -10px;
    }
    
    .yes {        
        left:-10px;        
    }
    
    .no {        
        right:-10px; 
    }
    
    /* upto 2h4min - https://youtu.be/1Rs2ND1ryYc CSS 6hrs */
    
</style>