<style>
    /* CSS selectot reference here */
    /* https://www.w3schools.com/cssref/css_selectors.asp */    

/* notes on supporting various devices */
/* https://stackoverflow.com/questions/13550541/media-min-width-max-width */
/* for PRINTABILITY @media print{} ie MENUS & LABELS */
    

    /* Units - absolute, relative ie percentage based */
    /* absolute -  mm, cm - show up that size on screen - aparently*/
    /* relative ie percentage/ratio based */
    /* px - pixels - dpi*/
    /* pt - points */
    /* pc - 12 points */
    .mm { font-size:10mm; }  /* this is supposed to be 5mm on screen - no work on notebook!*/
    .cm { font-size:2cm;  }  /* yeah not sure about these! */
    .px { font-size:20px; }  /* */
    .pt { font-size:20pt; }
    .pc { font-size:1pc;  }    
    .em { font-size:2em;  } /* em is 1 standard font size - 2em = twice size std font */
    .vh { font-size:5vh; }  /* unit is 1% view port width similr to % no?*/
    .vw { font-size:5vw; }  /* unit is 1% view port width similr to % no?*/    
    
    /* 2h17 - text decoration - underline, strikethough, overline + one other */
    
    /* 2h20 - text transform */
    .text-size:hover { text-transform: uppercase; }
    
    /* font basics: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts */
    /* formatting - menu item */
    /* Look into @media print{} for PRINTABILITY ie MENUS & LABELS */ 
    .r-menu { text-align: center; background: #fcf8eb; padding: 20px 0px;}
    .men-title {
        font-family: "Arial", sans-serif; /* if no Arial replace with a similarly clean font */
        font-size: 1em;
        font-weight: 600;   /* in 100's 100-800 - rough guide */
    }
    .men-win {
        font-family: "Arial", sans-serif;
        font-size: 1em;
        font-weight: 100;   /* in 100's 100-800 - rough guide */
    }
    .men-desc, .men-alg {
        font-family: "Helvetica", sans-serif;
        font-size: 0.8em;
        font-weight: 100;   /* in 100's 0-800 - rough guide */
        font-style: italic;
        text-decoration: none;  /* underline, oberline, strike through */
    }
    .r-spec {
        font-family: "Gill Sans", sans-serif;
        text-align: left;
        background: #f7f4eb;
        padding: 20px 5px;      /* .r-spec-copy seems to be padding 20!*/
    }
    
    .r-spec-tit { text-transform: uppercase; font-weight: 600; font-size: 0.8em; }
    .r-spec-copy { font-weight: 100; }
    
    /* font faminlies - 2h30 */
    /* 3 main families:
    serif (curly time style - Times),
    sans-serif (plain no pointy bits - Arial) &
    monospace - (code fonts - Console)*/
    
    /* selecting (& downloading) fonts can be found at https://fonts.google.com - FEEs?*/
    /* You can use them freely in your products & projects - print or digital, commercial or otherwise. However, you can't sell the fonts on their own. */
    /* font-family: 'Darker Grotesque', sans-serif; (weights 400 / 700)
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;700&display=swap" rel="stylesheet">
       font-family: 'Creepster', cursive;
       font-family: 'Lato', sans-serif; (weights 400 ONLY)
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Lato&display=swap" rel="stylesheet">  */
    
    /* NB include font in <head> before css so they're ready when compiler processing CSS sheet */

    /* COMBO    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&family=Darker+Grotesque:wght@400;700&family=Lato&display=swap" rel="stylesheet">

    font-family: 'Creepster', cursive;
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Lato', sans-serif; */
    
    /* Downloading and caching font important for PWA ofline mode */
    /* but can also be imported in the css file - see css5 */
    /* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap"); */

    .pro {font-family: 'Darker Grotesque', sans-serif; font-size: 1.2em;}
    .support {font-family: 'Lato', sans-serif; font-size: 1.2em;}    
    .horror {
        font-family: 'Creepster', cursive; font-size: 1.6em;
        border: 5px dotted #ff5500;     /* size style color */
        margin: 15px 10px;
        text-align: center;
        /*display: block;   /* need this so vertical part of the margin works - or use a div instead of a span */
    }
    
    /* Box model 2h49-53 */
    /* Borders 2h53- borders dont work on inline types - EG span - use div!*/
    /* Float & Display Types 3h15 - VERY FEW EXAMPLES */
    
    #rcp_img {
        /*width: 60pw;*/ /* no work? */
        width: 30%;
        margin: 150px 0 0 0;
        float: right;
        /*display: none;*/
    }

    #rcp_img2 {  /* TODO - how to get this to move relative to menu item like divs in css2 - at bottom */
        /*width: 60pw;*/
        width: 30%;
        /*margin: 75px 0 0 0;*/
        float: right;
        top:-45px;
        position:absolute;
        
        /*right:5px;*/
        display: none;
    }    
    
    /* upto 3h28min - https://youtu.be/1Rs2ND1ryYc CSS 6hrs */
</style>

