<style>
    /* CSS selectot reference here */
    /* https://www.w3schools.com/cssref/css_selectors.asp */    
    

    /* pre bractet is tag selector (name slects tag type . selects class, # selects id) */

    /* elements of tag = span or(,) div */
    span, div {
      padding: 10px;        /* define attibutes - cmmon to both selectors */
      margin-bottom: 5px;
    }
    span{
      border: 5px solid;
      background-color: #FFEF00;  /* individual attibutes */
    }    
    div {
      border: 5px solid;
      background-color: #aec6cf;
    }

    /* CSS precedence: tag, class(.), id(#), inline - LOWEST to HIGHEST */
    /* inline are in the html element */

    /* elements of class(.) = now_block */
    .now_block {
      display: block;  /* individual attibutes */
    }    
    .now_inline {
      display: inline;
    }
    
    /* elements of class(.) = with_flex - with_flex can be anyth label */
    .with_flex {
      display: flex;  
    }
    
    /* elements of id(#) = top-text */
    #top-text {
      color: pink;
    }
        
    /* elements of class(.) = div-1 */
    .div-1 {
      height: 80px;
      width: 80px;
      margin: 20px;
      border: 5px solid;
      background-color: #FBD603;        
    }

    /* pseudo selector - mouse ove changes size & dims colour*/
    /* elements of class(.) = div-1 + plus pseudo selector(:) hover (mouse hover over element) */
    .div-1:hover {
      width: 180px;
      background-color: #A89100;        
    }
    
    /* elements of class(.) = div-2 */
    .div-2 {
      height: 80px;
      width: 70px;
      margin: 20px;
      border: 5px solid;
      background-color: #0BD603;        
    }
    
    
    /* CSS precedence: tag, class(.), id(#), inline - lowest to highest */
    /* inline are in the html element */
    
    /* this would change id-div-4 but id has higher precedence than tag selector */    
/*    div:last-child {
      color: purple;
      height: 80px;
      width: 140px;
      margin: 20px;
      border: 5px solid;      
      background-color: orange;
    }*/
    
    /* . selects class */    
    .div-3 {
        height: 80px;
        width: 90px;
        margin: 20px;
        border: 5px solid;
        background-color: #0BD6AA;        
    }
    
    /* # selects id */
    #id-div-4 {
        height: 110px;
        width: 90px;
        margin: 20px;
        border: 5px solid;
        color: white;
        background-color: #0B16AA;
    }
    
</style>