<style>
    
    /* CSS Flexbox - 3h26*/                 /* debug understand why? */
    body {                                  /* TODO - THIS HAS NO EFFECT! WHY - entering color into tools works*/
        background-color: #f2fcff;
        font-family: arial, sans-serif;
        font-size: 0.8em;
    }
    
    #debug_target {                         /* w/ <body id='debug_target'> this now works?????? */
        background-color: #f2fcff;
        font-family: arial, sans-serif;
        font-size: 0.8em;
    }
    
    .container {
        background-color: #fff8e8;
        margin: 10px;
        height: 140px;
        display: flex;                  /* select FLEX BOX display functionality */
        /*flex-direction: column;           /* arrange item in col top to bottom */
        /*flex-direction: column-reverse ;  /* arrange item in col bottom to top */
        flex-direction: row;                /* default in order left to right */
        /*flex-direction: row-reverse ;     /* reverse prev */
        /*flex-wrap: wrap;*/                    /* w/o this it will squeaze elements onto one line */
        justify-content: space-around;      /* HORIZ center, space-between (sprend to edges w/ space between),
                                             * space-around (spread even w/ space at ends too) */
        align-items: center;                /* VERTICAL flex-start (align top), center, flex-end (align bottom)
                                             * stretch (stretch elemnts top to bottom)
                                             * baseline (align elements)*/
    }
    .container-2 {
        background-color: #fff8e8;
        margin: 10px;
        height: 140px;
        display: flex;                  /* select FLEX BOX display functionality */
        flex-direction: row;                
        flex-wrap: wrap;                /* WRAP ON */
        justify-content: space-around;                                                  
        align-items: center;                
    }    
    

    /* flex: grow shrink basis - see 4h-4h3m from 3h49 */
    /* instead of separate flex-grow, flex-shrink, flex-basis */
    /* see htm code for notes */
    .container-item {
        background-color: #0ec758;
        color: white;
        text-align: center;
        width: 70px;
        line-height: 50px;
        margin: 5px;        
    }

    /* GRID container - colums & rows - - - - - - - - - - - - - - - - - - - - GRID */
    .grid-container {
        background-color: #f7f2ff;
        margin:  10px;
        height: 300px;
        display: grid;                      /* select GRID BOX functionality */
        grid-template-columns: repeat(14, 50px); /*auto auto auto auto auto auto auto auto;*/
        /*grid-column-gap: 10px;*/
        grid-template-rows: auto auto auto auto;
        /*grid-row-gap: 10px;*/
        grid-gap: 10px 10px;         /* grid-gap: row column; specify . . . */
                                     /* grid-row-gap: 10px;  &  grid-column-gap: 10px; at SAME TIME */
        justify-content: start;      /* HORIZONTAL! start center end  - OPOSITE TO FLEX WTF? */
                                            /* space-around, space-evenly, space-between */
        align-content: space-evenly;    /* VERTICLE start, centre , end, */
                                        /* space-around, space-evenly, space-between */        
    }
    
    .grid-item {
        color: black;
        font-size: 25px;
        text-align: center;
        width: 70px;
        line-height: 40px;         /* vertical line spacing - space betweeen lines */
        margin:  10px;
        outline: solid 1px;
    }

    /* GRID container - MOVIE CARD - - - - - - - - - - - - - - - - - - - - GRID naive */
    .grid-movie-card {
        /* 980x800 each card 14x6 ~ 1-15x1-7 - 70x70 */
        background-color: #000000;
        padding: 2px;
        font-family: arial, sans-serif;
        font-size: 0.8em;        
        margin: 5px;
        height: 430px;
        display: grid;                      /* select GRID BOX functionality */
        grid-template-columns: repeat(14, 70px);
        /*grid-column-gap: 10px;*/
        grid-template-rows: repeat(8, 50px);        
        /*grid-row-gap: 10px;*/
        grid-gap: 4px 4px;         /* grid-gap: row column; specify . . . */
        
    }
    
    .m-poster {
        background-color: #000000;
        padding: 5px;
        /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
        grid-area: 1 / 1 /  9 / 5;            /*3wx6h - block 70px*/
    }
    
    .m-title {                        /*contains , .m-year, .m-runtime, .m-rating */
        background-color: #FFFFAA;
        /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
        grid-area: 1 / 5 /  2 / 14;            /* grid  width - image width, 1 high */
    }
    .m-rating {                        
        background-color: #FFAAAA;
        /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
        grid-area: 1 / 14 /  2 / 15;              /* TRHC */ 
    }    
    .m-title, .m-year, .m-runtime, .m-rating { /* set large font */
        font-size: 2em;
    }
    
    .m-synop, .m-cast {
        /* make cast buttons so can guide choices - text for now */
        font-size: 1.5em;
        /* grid  width - image, 1*/        
    }
    .m-synop {
        background-color: #FFFFAA;
        /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
        grid-area: 2 / 5 / span 4 / span 10;            /* under title */
    }
    .m-cast {
        background-color: #FFAAFF;
        /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
        grid-area: 6 / 5 /  span 1 / span 10;            /* grid  width - image width, 1 high */
    }
    .m-genre {
        background-color: #AAFFFF;
        /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
        grid-area: 7 / 5 /  span 1 / span 10;            /* grid  width - image width, 1 high */
    }
    .m-control {
        background-color: #AAFFFF;
        /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
        grid-area: 8 / 5 /  span 1 / span 10;            /* grid  width - image width, 1 high */        
    }
    
    /* GRID container - MOVIE CARD - - - - - - - - - - - - - - - - - - - - GRID improved */
    .m1-poster {
        display: inline-flex;
        background-color: #000000;
        padding: 5px;
        /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
        grid-area: 1 / 1 /  9 / 5;            /*3wx6h - block 70px*/
        justify-content: center;    /* FLEX-HORIZ    center, space-between etc */
        align-items: center;        /* FLEX-VERTICAL flex-start (align top), center, flex-end (align bottom) etc */
    }
    .m1-img-poster {
        height: 100%;
        width: auto;
    }
    
    #m1-ink { color: #f7fdff; background-color: #000000;}
    .m1-title {                        /*contains , .m1-year, .m1-runtime, .m1-rating */
        /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
        grid-area: 1 / 5 /  2 / 14;            /* grid  width - image width, 1 high */
        font-size: 3em;        
    }
    .m1-rating {                        
        /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
        grid-area: 1 / 14 /  2 / 15;              /* TRHC */
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3em;   
    }    
    .m1-title, .m1-year, .m1-runtime, .m1-rating { /* set large font */
        display: flex;
        align-items: center;
    }
    
    .m1-synop, .m1-cast {
        /* make cast buttons so can guide choices - text for now */
        font-size: 1.7em;
        /* grid  width - image, 1*/        
    }
    .m1-synop {
        /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
        grid-area: 2 / 5 / span 4 / span 10;            /* under title */
    }
    .m1-cast {
        /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
        grid-area: 6 / 5 /  span 1 / span 10;            /* grid  width - image width, 1 high */
    }
    .m1-genre {
        /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
        grid-area: 7 / 5 /  span 1 / span 10;            /* grid  width - image width, 1 high */
        display: flex;
        align-items: center;        
    }
    .m1-control {
        /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
        grid-area: 8 / 5 /  span 1 / span 10;            /* grid  width - image width, 1 high */
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .m1-genre-bt, .m1-control-bt {
        font-size: 1.7em;
        height: 80%;
        margin: 0 0.2vw;
    }


    /* maintenance & development nightmare - look into CSS vars - https://www.w3schools.com/css/css3_variables.asp*/

    /* image alignment see post - read 1 & update movie container */
    /* 1. https://stackoverflow.com/questions/45536537/centering-in-css-grid . . and . */
    /* 2. https://www.joomlashack.com/blog/tutorials/center-and-align-items-in-css-grid/ */
    /* << Tasks - grid-movie-card >>
     * Centre image
     * Vertically centre Movie Head line & add left margin
     * Centre rating
     * Synopsis text x1.5
     * Make genre buttons bounding box - 3 margins / 2 (allow 2 rows)
     * Make action buttons right justified full size of bounding box
     * 
     * Duplicate this and add variables to replace grid area definintions
    */
    
    /*
     The HTML structure of a grid container has three LEVELS:

        container
        item
        content

    Each of these levels is INDEPENDENT from the others, in terms of applying grid properties.

    The SCOPE of a grid container is limited to a PARENT-CHILD relationship.
        grid contaier (parent)
          ^
        grid item     (child) - Descendants of a grid container beyond the children are not part of grid layout and will not accept grid properties.
                                unless using subgrid
    
    */
    
    .oxo {
        display: inline-grid;
        grid-template-rows: 100px 100px 100px;
        grid-template-columns: 100px 100px 100px;
        grid-gap: 3px;
        /*justify-items: center; /* justify-items on the container centers the grid items, not the content (at least not directly) */
        /*align-items: center;   /* does the same but vertically */

    }
    .square {
        /*background-color: white;*/
        display: flex;
        outline: solid;
        outline-width: 2px;
        justify-content: center;    /* FLEX-HORIZ    center, space-between etc */
        align-items: center;        /* FLEX-VERTICAL flex-start (align top), center, flex-end (align bottom) etc */
        
    }
    

    /* watchd up to 4h15 - basically flex justification controls & setting up a gri w/ 5 elemnets*/
    /*https://www.freecodecamp.org/news/learn-css-grid-by-building-5-layouts/*/
    
    
    /* upto 4hmin - https://youtu.be/1Rs2ND1ryYc CSS 6hrs */
</style>

