<style>
    /* CSS selectot reference here */
    /* https://www.w3schools.com/cssref/css_selectors.asp */    
    
    body {
      background: linear-gradient(to bottom, rgb(204, 229, 255), rgba(204, 229, 255, 0.4));
      font-size: 1.15em;
      text-align: justify;
      font-family: "Lato", sans-serif;
    }

    input, textarea {
      display: block;
      margin: 10px;
    }
    
    /* boiler plate to start */
    .subtitle {
      color: rgb(200, 148, 30);
      font-family: "Sarabun", sans-serif;
    }


    .submit-button {
      margin: 40px 40px;
      padding: 10px 15px;
      border: none;
      text-decoration: none;
      font-family: "Lato", sans-serif;
      font-weight: 600;
      font-size: 20px;
      color: white;
      background: rgb(89, 150, 255);
      /*          property   length transistion  profile delay*/
      /*transition: background 2s ease-in-out 1s;        /* animation of a property */
      /*transition: background 200ms ease-in-out 300ms;    /* speed it up */
      /* transistion types: ease, linear, ease-in-out */
      
      /* add extra attribute w/ comma */
      transition: background, padding 200ms ease-in-out; /* 50ms;    /* speed it up */
                                                            
                                                                 /* support for legacy / different  browsers*/
      -webkit-transition: background, padding 200ms ease-in-out; /* chrome & safari */
      -moz-transition: background, padding 200ms ease-in-out;    /* firefox */
      -ms-transition: background, padding 200ms ease-in-out;     /* ms explorer */
      -o-transition: background, padding 200ms ease-in-out;      /* opera */
      
      /*transform: translate(50px, 30px);   /* apply changes to x,y co-ords */
      /*transform: matrix(1, 0.45, 0.45, 1, 100, 50);*/
    }
    
    .s-button-egs {
      display: flex;
      flex-wrap: wrap;
    }
    
    .bscale {
      transform: scale(2.5);      /* scale element x 2.5 - Woah - SUBMIT!!!!! Bloody hell! */
    }
    .brotate {
      transform: rotate(-45deg);    /* rotat 45 degree anti clockwise */
    }
    
    .bskew-x {
      transform: skewX(45deg)
    }

    .bskew-y {
      transform: skewY(45deg)
    }
    
    /* matrix( scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY() ) */
    .bmatrix-1 {
      /* lean forward at the top - attempt to */
      /*               ( sCx, sKy, sKx, sC, transX, transY ) */
      transform: matrix( 1.5, 0.45, 0.45, 1.5, 0,0) ;   /* 0.45 = 45deg */
    }
    
    .bmatrix-2 {
      /* lean forward at the top - attempt to */
      /*               ( sCx, sKy, sKx, sC, transX, transY ) */
      transform: matrix( 1.25, 0.45, -0.45, 1.75, 0, 0) ;   /* 0.45 = 45deg */
    }

    .bmatrix-3 {
      /* lean forward at the top - attempt to */
      /*               ( sCx, sKy, sKx, sC, transX, transY ) */
      transform: matrix( 1, 0.90, -0.90, 1, 0, 0) ;   /* easier to use rotate no? */
    }    
    
    .submit-button:hover {
      color: yellow;                       /* change text color */
      background: rgb(47, 87, 55);          /* change button color */
      padding: 20px 30px;                 /* change button size */            
    }
        
    #h1-anim {
      /*background-color: #f0f00f;*/
   /* animation-name: translate-element;
      animation-duration: 4s;
      animation-timing-function: cubic-bezier;    aka easing-function
      animation-delay: 10ms;
      animation-iteration-count: infinite;
      animation-direction: normal;*/
      
      /* all in one */
      /* animation: name duration timing-function(easing-function?) delay iteration-cnt direction */
      animation: translate-element 4s ease-in-out 10ms infinite normal;
      
      
      /* https://developer.mozilla.org/en-US/docs/Web/CSS/animation */
      /* @keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name */
      /* animation: 3s ease-in 1s 2 reverse both paused slidein; */
      /* or */
      /* @keyframes name | duration | easing-function | delay */
      /* animation: slidein 3s linear 1s;*/
      /* or */
      /* @keyframes name | duration */
      /* animation: slidein 3s;*/
    }
    
    /* difference between ANIMATIONS & TRANSFORMS - animation can be defined and applied to elements */
    /* key framse*/
    @keyframes translate-element {
      /*from {}     /* start point */
      /*to {}       /* end point */
      0% {background: red; transform: translate(0px,0px)}          /* start */
      25% {background: yellow; transform: translate(10px,10px)}    /* transition point */
      50% {background: blue; transform: translate(15px,15px)}
      75% {background: black; transform: translate(10px,10px)}     /* end */
      100% {background: red; transform: translate(0px,0px)}        /* end */
    }
    
    .clock {
      font-family: times, serif;
      font-size: 35px;
      display: inline-grid;
      grid-template-columns: repeat(9, 45px);
      grid-template-rows: repeat(9, 45px);
    }
    
    .square {
      display: flex;
      justify-content: center;    /* FLEX-HORIZ    center, space-between etc */
      align-items: center;        /* FLEX-VERT   */     
    }

    /*grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
    .twelve { grid-area: 1 / 5 / span 1 / span 1;}
    .nine {
      grid-area: 5 / 1 / span 1 / span 1;
      transform: rotate(-90deg);
    }
    .three {
      grid-area: 5 / 9 / span 1 / span 1;
      transform: rotate(90deg);      
    }
    .six {
        grid-area: 9 / 5 / span 1 / span 1;
        transform: rotate(180deg);
    }    

    .hands { grid-area: 5 / 5 / span 1 / span 1;}
    #hhand { /* https://css-tricks.com/almanac/properties/t/transform-origin/ */
      animation: tick-hr 60s linear infinite; /* animation: tick-hr 3600s linear infinite; /* normal closck speed */
      position: relative;
      right: -15px;
      top: -57px;
    }    
    #mhand { /* https://css-tricks.com/almanac/properties/t/transform-origin/ */
      /*transform-origin: 16px, 16px;*/
      /*transform: rotate(15deg);*/
      animation: tick 1s linear infinite; /* animation: tick 60s linear infinite; /* normal closck speed */
      position: relative;
      right: 20px;
      top: -80px;
    }

    /* images should be transparent & same size then obnly need 1 since transfor offsets would be the same */
    @keyframes tick {      
      from {        
        transform: rotate(0deg);
        transform-origin: 16px 184px;
      }
      to {        
        transform: rotate(360deg);
        transform-origin: 16px 184px;
      }
    }

    @keyframes tick-hr {      
      from {        
        transform: rotate(0deg);
        transform-origin: 16px 134px;
      }
      to {        
        transform: rotate(360deg);
        transform-origin: 16px 134px;
      }
    }
    
    
    /* upto ??hmin - https://youtu.be/1Rs2ND1ryYc CSS 6hrs */
</style>

