

#bt_home, #bt_nutes_compare {
    background-color: #8BCE51;
}
#bt_gallery, #bt_db_recipe, #bt_nutes {
    background-color: #B1D6E2;
}

.nav-container {
    background-color: #000000;
    margin: 1px;
    height: 42px;
    display: flex;                  /* select FLEX BOX display functionality */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bt-nav {
    height: 34px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 1px;
    font-size: 22px;
    text-align: center;
}

.bt-nav-space {
    height: 34px;
    flex-grow: 1;
}

.bt-nav-icon {
    height: 34px;
    width: 40px;
}

.bt-usr {
    height: 34px;
    padding-left: 2px;
    padding-right: 2px;
}

.bt-sort-gen {
    height: 34px;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 22px;
    text-align: center;
}

.bt-usr-activ {
    background-color: #F9C563;
}
.bt-usr-inactiv {
    background-color: #EFEFEF;
}
