@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@200;500&display=swap');

/* CSS selectot reference here */

head, body {
    background-color: black;
    color: lightgrey;
}

.glid-div-box {
    position: relative;
    /*border: 1px solid pink;*/
    height: 246px;
    width: 162px;
    margin: 2px;

}

.mv-info {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*text-align: center;*/
    /*justify-content: center;*/
}
.bt-sl {
    position: absolute;
    bottom: 6px;
    right: 6px;
    opacity: 0.5;
}

.slider-title {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    /*border: 1px solid yellowgreen;*/
    padding-left: 0.2em;
    margin-top: 0.4em;
}

/* get image to fit and all be same size */
.fit-box img {
    /*opacity: 30%;*/
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
/* fill options */
.opt-1 img{             /* in use */
    object-fit: cover;
}
.opt-2 img{
    object-fit: contain;
}
.opt-3 img{
    object-fit: fill;
}

/* movies top rated glider images SB 250 * 370 px */
/* add a large number - white w/ black outline - possible?YES - over image*/
/*#genre-slid > div > div {
    margin: 2px;
    border: 1px solid grey;
    border-radius: 10px;
    position: relative;
    text-align: center;
    color: white;
}
#genre-slid > div > div > img {
    margin: 1px;
    border: 1px solid grey;
    border-radius: 6px;
}
#genre-slid > div > div > .top-rated-mv {
    position: absolute;
    border: 1px solid purple;
    font-size: 10em;
    padding-right: 5px;
    padding-top: 125px;
}
@supports (-webkit-text-stroke: 1px black) {
  .top-rated-mv {
    -webkit-text-stroke: 2px grey;
    -webkit-text-fill-color: black;
  }
}*/
