{% extends 'nav_buttons_thin.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for( 'static', filename='css_course_1.css') }}">

{% endblock %}


{% block content %}

<h5>css course 1</h5>

<style>
    /* Keyword value/name of color */
    .div-1 {
        height: 80px;
        width: 80px;
        margin: 20px;
        border: 5px solid;
        background-color: #FBD603;        
    }
    
    /* Hexadecimal value */
    .div-2 {
        height: 80px;
        width: 70px;
        margin: 20px;
        border: 5px solid;
        background-color: #0BD603;        
    }
    
    /* RGB value */
    .div-3 {
        height: 80px;
        width: 90px;
        margin: 20px;
        border: 5px solid;
        background-color: #0BD6AA;        
    }
    
</style>

<body>
    <div >
        <div class="div-1">
            <p>A1</p>
        </div>
    
        <div class="div-2">
            <p>B2</p>
        </div>
    
        <div class="div-3">
            <p>C3</p>
        </div>
    </div>
</body>


{% endblock %}
