{% extends 'nav_buttons_thin.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for( 'static', filename='css_course_5.css') }}">
{% endblock %}


{% block content %}

<h2>css course 5 - <a href='https://www.freecodecamp.org/news/learn-css-grid-by-building-5-layouts/'>5 grid layouts for Free Code Camp</a> & <a href='https://youtu.be/CC2HkBZuReY'>YouTube FreeCodeCamp</a></h2>
<a href='https://github.com/devchallenges/CSSGrid-Tutorial'>GitHub - Code Assest - boiler plate for exersize</a>

<!--maybe do https://www.youtube.com/watch?v=XXDOUuzzUOY&t=16s&ab_channel=ThuNghiem too!-->

<h2><a href='#pancake'>Pancake Stack 0</a></h2>
<h2><a href='#twelve-col-grid'>Simple 12 Column Grid Layout </a></h2>
<h2><a href='#grid-templates'>Responsive Layout with & without grid-template-areas</a></h2>
<h2><a href='#no-media-query'>Responsive Layout WITHOUT? Media Query</a></h2>
<h2><a href='#twelve-grid'>12 x 12 Chess Grid</a></h2>



<div class='item_css' id='pancake'>Pancake Stack</div>
150g duck butter [793_crispy_confit_duck_and_toast]<br>
200g wild garlic (blanched and refreshed)<br>
1/2 lime (juiced)<br>
<br>
Blanch the wild garlic for 10 minutes tops, then drop it into cold water to stop it cooking and preserve the colour.
Probably best to do all the wild garlic at the same time and keep a third back for the salad!!

Chop it up so it doesn't cause problems for the stick blender. Blend the leaves and lime juice in a high side jug

Once you have a relatively smooth paste add the butter in thirds until you have a loose puree.
Check it for seasoning, adjusting the salt and lime as necessary, then put it in the fridge to set
<br>
150g duck butter [793_crispy_confit_duck_and_toast]<br>
200g wild garlic (blanched and refreshed)<br>
1/2 lime (juiced)<br>
<br>
Blanch the wild garlic for 10 minutes tops, then drop it into cold water to stop it cooking and preserve the colour.
Probably best to do all the wild garlic at the same time and keep a third back for the salad!!

Chop it up so it doesn't cause problems for the stick blender. Blend the leaves and lime juice in a high side jug

Once you have a relatively smooth paste add the butter in thirds until you have a loose puree.
Check it for seasoning, adjusting the salt and lime as necessary, then put it in the fridge to set
<br>
<div class='item_css' id='twelve-col-grid'>Simple 12 Column Grid Layout </div>
150g duck butter [793_crispy_confit_duck_and_toast]<br>
200g wild garlic (blanched and refreshed)<br>
1/2 lime (juiced)<br>
<br>
Blanch the wild garlic for 10 minutes tops, then drop it into cold water to stop it cooking and preserve the colour.
Probably best to do all the wild garlic at the same time and keep a third back for the salad!!

Chop it up so it doesn't cause problems for the stick blender. Blend the leaves and lime juice in a high side jug

Once you have a relatively smooth paste add the butter in thirds until you have a loose puree.
Check it for seasoning, adjusting the salt and lime as necessary, then put it in the fridge to set
<br>
150g duck butter [793_crispy_confit_duck_and_toast]<br>
200g wild garlic (blanched and refreshed)<br>
1/2 lime (juiced)<br>
<br>
Blanch the wild garlic for 10 minutes tops, then drop it into cold water to stop it cooking and preserve the colour.
Probably best to do all the wild garlic at the same time and keep a third back for the salad!!

Chop it up so it doesn't cause problems for the stick blender. Blend the leaves and lime juice in a high side jug

Once you have a relatively smooth paste add the butter in thirds until you have a loose puree.
Check it for seasoning, adjusting the salt and lime as necessary, then put it in the fridge to set
<br>
<div class='item_css' id='grid-templates'>Responsive Layout with & without grid-template-areas</div>
150g duck butter [793_crispy_confit_duck_and_toast]<br>
200g wild garlic (blanched and refreshed)<br>
1/2 lime (juiced)<br>
<br>
Blanch the wild garlic for 10 minutes tops, then drop it into cold water to stop it cooking and preserve the colour.
Probably best to do all the wild garlic at the same time and keep a third back for the salad!!

Chop it up so it doesn't cause problems for the stick blender. Blend the leaves and lime juice in a high side jug

Once you have a relatively smooth paste add the butter in thirds until you have a loose puree.
Check it for seasoning, adjusting the salt and lime as necessary, then put it in the fridge to set
<br>
150g duck butter [793_crispy_confit_duck_and_toast]<br>
200g wild garlic (blanched and refreshed)<br>
1/2 lime (juiced)<br>
<br>
Blanch the wild garlic for 10 minutes tops, then drop it into cold water to stop it cooking and preserve the colour.
Probably best to do all the wild garlic at the same time and keep a third back for the salad!!

Chop it up so it doesn't cause problems for the stick blender. Blend the leaves and lime juice in a high side jug

Once you have a relatively smooth paste add the butter in thirds until you have a loose puree.
Check it for seasoning, adjusting the salt and lime as necessary, then put it in the fridge to set
<br>
<div class='item_css' id='no-media-query'>Responsive Layout WITHOUT? Media Query</div>
150g duck butter [793_crispy_confit_duck_and_toast]<br>
200g wild garlic (blanched and refreshed)<br>
1/2 lime (juiced)<br>
<br>
Blanch the wild garlic for 10 minutes tops, then drop it into cold water to stop it cooking and preserve the colour.
Probably best to do all the wild garlic at the same time and keep a third back for the salad!!

Chop it up so it doesn't cause problems for the stick blender. Blend the leaves and lime juice in a high side jug

Once you have a relatively smooth paste add the butter in thirds until you have a loose puree.
Check it for seasoning, adjusting the salt and lime as necessary, then put it in the fridge to set
<br>
150g duck butter [793_crispy_confit_duck_and_toast]<br>
200g wild garlic (blanched and refreshed)<br>
1/2 lime (juiced)<br>
<br>
Blanch the wild garlic for 10 minutes tops, then drop it into cold water to stop it cooking and preserve the colour.
Probably best to do all the wild garlic at the same time and keep a third back for the salad!!

Chop it up so it doesn't cause problems for the stick blender. Blend the leaves and lime juice in a high side jug

Once you have a relatively smooth paste add the butter in thirds until you have a loose puree.
Check it for seasoning, adjusting the salt and lime as necessary, then put it in the fridge to set
<br>
<div class='item_css' id='twelve-grid'>12 x 12 Chess Grid</div>
150g duck butter [793_crispy_confit_duck_and_toast]<br>
200g wild garlic (blanched and refreshed)<br>
1/2 lime (juiced)<br>
<br>
Blanch the wild garlic for 10 minutes tops, then drop it into cold water to stop it cooking and preserve the colour.
Probably best to do all the wild garlic at the same time and keep a third back for the salad!!

Chop it up so it doesn't cause problems for the stick blender. Blend the leaves and lime juice in a high side jug

Once you have a relatively smooth paste add the butter in thirds until you have a loose puree.
Check it for seasoning, adjusting the salt and lime as necessary, then put it in the fridge to set
<br>
150g duck butter [793_crispy_confit_duck_and_toast]<br>
200g wild garlic (blanched and refreshed)<br>
1/2 lime (juiced)<br>
<br>
Blanch the wild garlic for 10 minutes tops, then drop it into cold water to stop it cooking and preserve the colour.
Probably best to do all the wild garlic at the same time and keep a third back for the salad!!

Chop it up so it doesn't cause problems for the stick blender. Blend the leaves and lime juice in a high side jug

Once you have a relatively smooth paste add the butter in thirds until you have a loose puree.
Check it for seasoning, adjusting the salt and lime as necessary, then put it in the fridge to set
<br>

{% endblock %}


