{% extends 'nav_buttons_thin.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for( 'static', filename='css_course_1.css') }}">

{% endblock %}


{% block content %}

    <br />
    <br />
    <span>I'm Inline!</span>
    <span>I'm Inline!</span>
    <span>I'm Inline!</span>    
    <br />
    <div>I'm Block!</div>
    <div>I'm Block!</div>
    <div>I'm Block!</div>
    <br />
    <span class='now_block'>I was Inline!</span>
    <span class='now_block'>I was Inline!</span>
    <span class='now_block'>I was Inline!</span>      
    <div class='now_inline'>I was Block!</div>
    <div class='now_inline'>I was Block!</div>
    <div class='now_inline'>I was Block!</div>    
    <br />
    <br />
    <div class='with_flex'>
        <p id='top-text'>Styling priority</p>
        class='with_flex'
        <br>
        <div class="div-1">
            <p>A1</p>
        </div>
    
        <div class="div-2">
            <p>B2</p>
        </div>
    
        <div class="div-3" id="id-div-3">
            <p>C3</p>
        </div>

        <div id="id-div-4">
            <p>D4</p>
        </div>
    </div>
    <div class='without_flex'>
        <p id='top-text'>Styling priority</p>
        class='withOUT_flex'
        <br>
        <div class="div-1">
            <p>A1</p>
        </div>
    
        <div class="div-2">
            <p>B2</p>
        </div>
    
        <div class="div-3" id="id-div-3">
            <p>C3</p>
        </div>

        <div id="id-div-4">
            <p>D4</p>
        </div>
    </div>    
    
    <div>
        div last child
    </div>  


{% endblock %}
