{% extends 'nav_buttons_thin.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for( 'static', filename='css_course_2.css') }}">

{% endblock %}


{% block content %}

  <h2>css course 2</h2>
    <a href="http://www.ferdiesfoodlab.co.uk/">Social Banquets will RETURN Huar har har!</a>
     
    <div class='master' style='display: flex'>
        <p id='top-text'>Styling priority</p>
        <br>
        <div class="div-1">
            <p>.div-1:hover</p>
        </div>
    
        <div class="div-2">
            <p>B2</p>
        </div>
    
        <div class="div-3" id="id-div-3">
            <p>C3</p>
        </div>

        <div id="id-div-4">
            <p>D4</p>
        </div>

    </div>
    
    <div>
        div last child
    </div>
    <br>
    <table>
      <tr>
        <th>Movie</th>
        <th>Rating</th>
        <th>Actors</th>
        <th>Budget</th>        
      </tr>
      <tr>
        <td>Leviathon</td>
        <td>4</td>
        <td><li>BM</li><li>AF</li><li>LK</li></td>
        <td><table><tr><th>Cat</th><th>Cost</th></tr><tr><td>CGI</td><td>$900</td></tr><tr><td>Live</td><td>$180</td></tr></table></td>        
      </tr>
      <tr>
        <td>Gulpman</td>
        <td>5</td>
        <td><li>PM</li><li>MZ</li><li>PL</li></td>
        <td><table><tr><th>Cat</th><th>Cost</th></tr><tr><td>CGI</td><td>$9</td></tr><tr><td>Live</td><td>$0</td></tr></table></td>        
      </tr>
    </table>
    <br>
    
    <p>id='gallery2' a div of spans</p>
    <div id='span-gallery'>
        <span class="span-gal-img sf">     <image src="/static/covers/Blade_Runner_2049_poster.png"></image> </span>   
        <span class="span-gal-img ad">     <image src="/static/covers/Men_in_Black_International_%28Official_Film_Poster%29.png"></image> </span>   
        <span class="span-gal-img ad">     <image src="/static/covers/Once_Upon_a_Time_in_Hollywood_poster.png"></image> </span>   
        <span class="span-gal-img sf">     <image src="/static/covers/Parasite_%282019_film%29.png"></image> </span>   
        <span class="span-gal-img ad">     <image src="/static/covers/Ready_or_Not_2019_film_poster.jpg"></image> </span>   
        <span class="span-gal-img ad">     <image src="/static/covers/Shaft_%282019%29_film_poster.png"></image> </span>   
        <span class="span-gal-img fa">     <image src="/static/covers/Shazam%21_theatrical_poster.jpg"></image> </span>   
        <span class="span-gal-img fa">     <image src="/static/covers/Spider-Man_Far_From_Home_poster.jpg"></image> </span>   
        <span class="span-gal-img sf">     <image src="/static/covers/Star_Wars_The_Rise_of_Skywalker_poster.jpg"></image> </span>   
        <span class="span-gal-img dr">     <image src="/static/covers/The_Art_of_Self-Defense.jpeg"></image> </span>   
        <span class="span-gal-img dr">     <image src="/static/covers/The_Banker_poster.jpeg"></image> </span>   
        <span class="span-gal-img dr">     <image src="/static/covers/The_Call_of_the_Wild_poster.jpg"></image> </span>   
        <span class="span-gal-img doc">     <image src="/static/covers/The_Great_Hack_poster.jpg"></image> </span>   
        <span class="span-gal-img dr">     <image src="/static/covers/The_Hustle_film_poster.png"></image> </span>   
        <span class="span-gal-img sf">     <image src="/static/covers/The_Invisible_Man_%282020_film%29_-_release_poster.jpg"></image> </span>   
        <span class="span-gal-img dr">     <image src="/static/covers/The_Irishman_poster.jpg"></image> </span>   
        <span class="span-gal-img com">     <image src="/static/covers/The_Last_Thing_He_Wanted.jpg"></image> </span>   
        <span class="span-gal-img com">     <image src="/static/covers/The_Man_Who_Killed_Hitler_and_Then_the_Bigfoot.png    "></image> </span>
    </div>
    
    <p>id='gallery a div of divs'</p>
    <!--style='display: inline-block'-->
    <div id='div-gallery'>
        <div class="div-gal-img sf" >     <image src="/static/covers/Blade_Runner_2049_poster.png"></image> </div>   
        <div class="div-gal-img sf" >     <image src="/static/covers/Parasite_%282019_film%29.png"></image> </div>   
        <div class="div-gal-img ad" >     <image src="/static/covers/Ready_or_Not_2019_film_poster.jpg"></image> </div>   
        <div class="div-gal-img sf" >     <image src="/static/covers/Parasite_%282019_film%29.png"></image> </div>   
        <div class="div-gal-img ad" >     <image src="/static/covers/Ready_or_Not_2019_film_poster.jpg"></image> </div>   
    </div>
    
    
    <div>
        div last child
    </div>    

    <div id='div-grad' style="position: relative; float: right">  inline    
      id='div-grad'      
    </div>
    <br><br>
    <!--box div with inner positions boxes-->
    <!--https://www.encodedna.com/css-tutorials/float-right-using-position-absolute-css.htm-->
    <div style="width:auto;
          height:100px;
          background:#CCFF33;
          padding:10px;
          margin: 20px 50px;
          position:relative;">

      Parent Container

      <div style="padding:20px 0; background:#bcd674;">
          This is the second element
      </div>

      <div style="width:70px;
            height:auto;
            background:#c6eb23;
            color:#888;
            padding:5px 2px;
            /*margin: 5px 5px;*/
            outline: 1px solid #888888; /*use outline not border: 3px;*/
            text-align:center;
            top:5px;
            position:absolute;
            right:5px;">
            <!-- changing top or right to anything other than 0 (to move box out a little) produces odd results-->
            <!--need to use px % or em with the number eg: 5px, 5em, 5% not 5 on its own!-->
            <!--Opt 2: use margin to move box in a little-->
            <!--effect of right (left, top, bottom) depends on valu of position-->
            <!--https://developer.mozilla.org/en-US/docs/Web/CSS/right see description-->
          MENU
      </div>

      <div style="width:70px;
            height:auto;
            background:#f0e932;
            color:#444;
            padding:5px 2px;
            /*margin: 5px 5px;*/
            outline: 1px solid #888888; /*use outline not border: 3px;*/
            text-align:center;
            bottom: -10px;
            position:absolute;
            right:-10px;">
            <!-- changing top or right to anything other than 0 (to move box out a little) produces odd results-->
            <!--need to use px % or em with the number eg: 5px, 5em, 5% not 5 on its own!-->
            <!--Opt 2: use margin to move box in a little-->
          NO
      </div>
      <div style="width:70px;
            height:auto;
            background:#f0e932;
            color:#444;
            padding:5px 2px;
            /*margin: 5px 5px;*/
            outline: 1px solid #888888; /*use outline not border: 3px;*/
            text-align:center;
            bottom: -10px;
            position:absolute;
            left:-10px;">
            <!-- changing top or right to anything other than 0 (to move box out a little) produces odd results-->
            <!--need to use px % or em with the number eg: 5px, 5em, 5% not 5 on its own!-->
            <!--Opt 2: use margin to move box in a little-->
          YES
      </div>
    </div>
    <!--box div with inner positions boxes broken out into CSS -->
    <!--https://www.encodedna.com/css-tutorials/float-right-using-position-absolute-css.htm-->
    <br>
    <p>STYLE moved into CSS</p>
    <div class='qbox-yn-par'>
      Parent Container

      <div style="padding:20px 0; background:#bcd674;">
          This is the second element
      </div>

      <div class="qbox-yn-menu">
          MENU
      </div>

      <div class='qbox-yn no'>
          NO
      </div>
      <div class='qbox-yn yes'>
          YES
      </div>
      <br>      
    </div>

    <br>
    <p>On inside th other</p>
    <div class='qbox-yn-par'>
      Parent Container

      <div style="padding:20px 0; background:#bcd674;">
          This is the second element
      </div>

      <div class="qbox-yn-menu">
          MENU
      </div>

      <div class='qbox-yn no'>
          NO
      </div>
      <div class='qbox-yn yes'>
          YES
      </div>
      
      <div class='qbox-yn-par'>
        SUB Parent Container
  
        <div style="padding:20px 0; background:#bcd674;">
            This is the second element
        </div>
  
        <div class="qbox-yn-menu">
            MENU
        </div>
  
        <div class='qbox-yn no'>
            NO
        </div>
        <div class='qbox-yn yes'>
            YES
        </div>
      </div>
      
    </div>



{% endblock %}
