{% extends 'nav_buttons_thin.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for( 'static', filename='css_course_5.css') }}">
{% endblock %}


{% block content %}

<h2>css course 5 - <a href='https://www.freecodecamp.org/news/learn-css-grid-by-building-5-layouts/'>5 grid layouts for Free Code Camp</a> & <a href='https://youtu.be/CC2HkBZuReY'>YouTube FreeCodeCamp</a></h2>
<a href='https://github.com/devchallenges/CSSGrid-Tutorial'>GitHub - Code Assest - boiler plate for exersize</a>

<!--maybe do https://www.youtube.com/watch?v=XXDOUuzzUOY&t=16s&ab_channel=ThuNghiem too!-->

<h2><a href='#pancake'>Pancake Stack 0</a></h2>
<h2><a href='#fr-auto'>Difference between 'fr' & 'auto'</a></h2>
<h2><a href='#twelve-col-grid'>Simple 12 Column Grid Layout </a></h2>
<h2><a href='#grid-templates'>Responsive Layout with & without grid-template-areas</a></h2>
<h2><a href='#no-media-query'>Responsive Layout WITHOUT? Media Query</a></h2>
<h2><a href='#twelve-grid'>12 x 12 Chess Grid</a></h2>



<div class='item' id='pancake'>Pancake Stack</div>

  <div class="task-1 container">
    <header class="item">header</header>

    <main class="item">main</main>

    <footer class="item">footer</footer>
  </div>



<br>
<br>
<br>
<div class='item' id='fr-auto'>Difference between 'fr' & 'auto' - <b>height: 600px</b></div>
<div class="item wrapper">
  <div>col<br>auto<br><br>row<br>110px</div>
  <div>col<br>auto</div>
  <div>col<br>1fr</div>
  <div>col<br>1fr</div>
  <div>row<br>auto</div>
  <div>bla</div>
  <div>bla</div>
  <div>bla</div>
  <div><b>row<br>1fr</b></div>
  <div>bla</div>
  <div>bla</div>
  <div>bla</div>
  <div><b>row<br>4fr</b><br><br>thats<br>4x<br>1fr</div>
  <div>bla</div>
  <div>bla</div>
  <div><b>auto</b> fits content<br><br><b>fr</b> is a fraction 1+4 = 5 (remaining width <br>or height)</div>
</div>

<br>
<br>
<br>
<div class='item' id='twelve-col-grid'>Simple 12 Column Grid Layout </div>
<br>
<div class="task-2 container">
  <div class="item item-1">1</div>
  <div class="item item-2">2</div>
  <!--<div class="item item-3">3</div>-->
</div>
    
<br>
<br>
<br>
<div class='item' id='grid-templates'>Responsive Layout with & without grid-template-areas</div>

<div class="task-3-1 container">
  <div class="item header">header</div>

  <div class="item navigation">navigation</div>
  
  <div class="item main">main</div>

  <div class="item sidebar">sidebar</div>  

  <div class="item ads">ads</div>

  <div class="item footer">footer</div>
</div>

<br>

<br>
<br>
<br>
<div class='item' id='no-media-query'>Responsive Layout WITHOUT Media Query</div>

<br>


<br>
<br>
<br>
<div class='item' id='twelve-grid'>12 x 12 Chess Grid</div>

<br>



{% endblock %}


