{% extends 'nav_buttons_thin.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for( 'static', filename='css_course_6.css') }}">
{% endblock %}


{% block content %}

<h2>css course page 6 - transformations<a href='https://youtu.be/1Rs2ND1ryYc'>upto ??min</a></h2>
<h3><a href='https://medium.mybridge.co/26-impressive-web-projects-built-with-css-only-4a4c2f773a21'>26 IMPRESSIVE CSS PROJECTS</a></h3>


<h2 class="subtitle">Contact Us</h2>

<form>
	<input type="text" placeholder="Full Name" class="form-input">
	<input type="email" placeholder="Email" class="form-input">
	<textarea></textarea>
	<button class="submit-button">Submit</button>	
</form>


{% endblock %}

