{% for movie_info in movies %}
<div class='grid-movie-card-v2' id="gmc{{ movie_info['id'] }}">
    <div class='poster'><image class='img-poster' src="{{ url_for('static', filename='covers/') }}{{movie_info['hires_image']}}"></image></div>
    <div class='title'>{{ movie_info['title'] }}<span class='year'>&nbsp({{ movie_info['year']}})</span></div>
    <span class='runtime'>{{ movie_info['runtime_hm'] }}</span>
    <div class='rating'>{{ movie_info['rating'] }}</div>
    <div class='synop'>{{ movie_info['synopsis'] }}</div>
    <div class='allcast'>
        {% for n in range(7) %}
            <!--TODO: add more button - or add this to a settings file-->
            <span class='cast'>{{ movie_info['cast'][n] }}, </span>
        {% endfor %}
        <span class='more_cast' id="{{movie_info['id']}}">more...</span>
    </div>
    <div class='genre' id='id_genre'>
        {% for genre in movie_info['genres'] %}
            <button class='btn btn-secondary genre-bt bt_{{genre}}'>{{ genre }}</button>
        {% endfor %}
    </div>
    <div class='control'>
        <div class='rt-stars' id="rt-stars-{{ movie_info['id'] }}"></div>
        <button type='submit' class='btn btn-secondary control-bt' name='mov_prefs_rate' value="{{  movie_info['id']  }}">RATE</button>
        <button type='submit' class='btn btn-secondary control-bt' name='mov_prefs_ni'   value="{{  movie_info['id']  }}">NI</button>
        <button type='submit' class='btn btn-secondary control-bt' name='mov_prefs_seen' value="{{  movie_info['id']  }}">SEEN</button>
        <button type='submit' class='btn btn-secondary control-bt' name='mov_prefs_sl'   value="{{  movie_info['id']  }}">+List</button>
        <button type='submit' class='btn btn-info control-bt' name='mov_prefs_play' value="{{  movie_info['title']  }}"><a href="{{url_for('play_movie', movie_id=movie_info['id'])}}">PLAY</a></button>
    </div>
</div>
{% endfor %}
