<!DOCTYPE html>
<html>

    <head>
        {% if doc_title %}
        <title>{{ doc_title }}</title>
        {% else %}
        <title>Movie Picker</title>
        {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->

        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>   -->

        <!--<script src="https://use.fontawesome.com/releases/v5.7.0/js/all.js"></script>-->

        <!--JS-->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Picker Integration</title>

        <link rel="stylesheet" href="/static/nav_buttons_thin.css">
        {% block header %}
        {% endblock%}

    </head>

    <body id='debug_target'>
        <div class='nav-container'>
            <button id='bt_home' class="bt-nav bt-nav-icon">
                <!--<a href="{{url_for('movie_gallery_home')}}"><img src="/static/PNG/check1.png" alt="tick" srcset="/static/SVG/check1.svg"></a>-->
                <a href="{{url_for('movie_gallery_home')}}"><img src="/static/PNG/refresh.png" alt="tick" srcset="/static/SVG/refresh.svg"></a>
            </button>

            <button id='bt_gallery' class="bt-nav bt-nav-icon">
                <a href="{{url_for('short_list')}}"><img src="/static/PNG/heart.png" alt="tick" srcset="/static/SVG/heart.svg"></a>
            </button>

            <button class="bt-nav bt-nav-icon">
                <a href="{{url_for('combined_short_list')}}"><img src="/static/PNG/pencil.png" alt="tick" srcset="/static/SVG/pencil.svg"></a>
                <!--<a href="{{url_for('play_movie', movie_id='0')}}"><img src="/static/PNG/arrow-circle-o-up.png" alt="tick" srcset="/static/SVG/arrow-circle-o-up.svg"></a>-->
            </button>

            <button class="bt-nav bt-nav-icon">
                <a href="{{url_for('spare_route')}}"><img src="/static/PNG/cog.png" alt="tick" srcset="/static/SVG/cog.svg"></a>
            </button>

            <inline class="bt-nav-space">HELLO HERE I AM</inline>

            {% for u in users_nav_bar %}
            <button id="{{ u['user_uuid'] }}" class='bt-nav bt-usr bt-usr-inactiv'>
                {{ u['usr'] }}
            </button>
            {% endfor %}
            <button id="bt-usr-add" class='bt-nav-icon bt-nav bt-usr bt-usr-inactiv'>
                +
            </button>
        </div>

        {% block content %}
        {% endblock %}

    </body>
</html>
