<!DOCTYPE html>
<html>

    <head>
        <title>moviepicker</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/bs5_css/bootstrap.min.css" rel="stylesheet">

        <!--JS-->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="/static/nav_buttons_local.css" rel="stylesheet">
        {% block header %}
        {% endblock%}

    </head>

    <body id='{{page}}'>
        <div class='nav-container'>
            <button id='bt_home_flix' type="button" class="btn btn-success bt-nav3">
                <a href="{{url_for('slider_tests')}}"><img id='bt_home_flix_img' src='/static/svg-sl/film.svg' alt="" class='svg-sz-26 img-svg-f-white'></img></a>
            </button>
            <button id='bt_home' type="button" class="btn btn-success bt-nav3">
                <a href="{{url_for('movie_gallery_home')}}"><img src='/static/svg-sl/film.svg' alt="" class='svg-sz-26 img-svg-f-white'></img></a>
            </button>
            <button type="button" class="btn btn-secondary bt-nav3">
                <a href="{{url_for('short_list')}}"><img src='/static/svg-sl/heart-fill.svg' alt="" class='svg-sz-26 img-svg-f-white'></img></a>
            </button>
            <button type="button" class="btn btn-secondary bt-nav3">
                <a href="{{url_for('combined_short_list')}}"><img src='/static/svg-sl/clipboard-check.svg' alt="" class='svg-sz-26 img-svg-f-white'></img></a>
            </button>
            <button type="button" class="btn btn-secondary bt-nav3">
                <a href="{{url_for('spare_route')}}"><img src='/static/svg-sl/people-fill.svg' alt="" class='svg-sz-26 img-svg-f-white'></img></a>
            </button>
            <button type="button" class="btn btn-secondary bt-nav3">
                <a href="{{url_for('spare_route')}}"><img src='/static/svg-sl/gear-fill.svg' alt="" class='svg-sz-26 img-svg-f-white'></img></a>
            </button>


            <span class="bt-nav-space"></span>

            {% for u in users_nav_bar %}
            <button id="{{ u['user_uuid'] }}" type="button" class='btn btn-secondary bt-nav3 bt-usr2'>
                {{ u['usr'] }}
            </button>
            {% endfor %}
            <button id="bt-usr-add" type="button" class='btn btn-secondary bt-nav3 bt-usr2'>
                +
            </button>

        </div>

        {% block content %}
        {% endblock %}

    </body>
</html>
