{% extends 'nav_buttons_thin.html' %}

{% block header %}
<script id='fp2' src="/static/fingerprint2.js"></script>
<script id='filter_gg'>
  var prefsInfo = {{ prefs_info|tojson }};
  console.log(`settings.html JS prefsInfo uuid:\n ${prefsInfo['uuid']} - inline`);  // sanity check
  console.log(prefsInfo);
</script>
<script id='gg' src="static/gallery_grid.js"></script>
<script id='gfp' src="static/get_fp.js"></script>
<link rel="stylesheet" href="{{ url_for( 'static', filename='gallery_grid.css') }}">
{% endblock %}


{% block content %}
<form action='/' class='bt-sort-bar'>
    <span style="font-size:26px; padding-right:4px;">SORT BY</span>
    <button type="submit" class='btn btn-secondary bt-sort' name='sort_type' formmethod="post" value='year'>YEAR</button>
    <button type="submit" class='btn btn-secondary bt-sort' name='sort_type' formmethod="post" value='rating'>RATING</button>
    <button type="submit" class='btn btn-secondary bt-sort' name='sort_type' formmethod="post" value='title'>TITLE</button>
    <button type="submit" class='btn btn-secondary bt-sort' name='sort_type' formmethod="post" value='added'>ADDED</button>
</form>


<form action='/'>
    {% for g in genres %}
    <button type='submit' class='btn btn-secondary btn_genre bt-sort-gen' name='change_genre' formmethod='post' value='{{g}}'>{{g}}</button>
    {% endfor %}
</form>

{% endblock %}

<!--
#   "runtime_hm": "1h40m",
#   "seen": false,
#   "fav": false,
#   "rating": 7.1,
#   "genres": ["Mystery", "Sci-Fi", "Thriller"],
#   "year": "1999",
#   "cast": ["Craig Bierko","Armin Mueller-Stahl", "Gretchen Mol", "Vincent D'Onofrio", "Dennis Haysbert", "Steven Schub",
#            "Jeremy Roberts", "Rif Hutton","Leon Rippy", "Janet MacLachlan", "Brad William Henke", "Burt Bulos",
#            "Venessia Valentino", "Howard S. Miller","Tia Texada", "Shiri Appleby", "Bob Clendenin"],

# EG movie:
# <class 'movie_info_disk.MMdia'>.movie_data
# { "id": "0139809",
#   "title": "The Thirteenth Floor",
#   "synopsis": "Computer scientist Hannon Fuller has discovered something extremely important. He's about to tell the
#               discovery to his colleague, Douglas Hall, but knowing someone is after him, the old man leaves a letter in the
#               computer generated parallel world his company has created (which looks like the 30's with seemingly real people
#                                                                          with real emotions). Fuller is murdered in our real
#               world the same night, and his colleague is suspected. Douglas discovers a bloody shirt in his bathroom and he
#               cannot recall what he was doing the night Fuller was murdered. He logs into the system in order to find the
#               letter, but has to confront the unexpected. The truth is harsher than he could ever imagine...::Danny
#               Rosenbluth",
#   "year": "1999",
#   "cast": ["Craig Bierko","Armin Mueller-Stahl", "Gretchen Mol", "Vincent D'Onofrio", "Dennis Haysbert", "Steven Schub",
#            "Jeremy Roberts", "Rif Hutton","Leon Rippy", "Janet MacLachlan", "Brad William Henke", "Burt Bulos",
#            "Venessia Valentino", "Howard S. Miller","Tia Texada", "Shiri Appleby", "Bob Clendenin"],
#   "runtime_m": "100",
#   "runtime_hm": "1h40m",
#   "rating": 7.1,
#   "genres": ["Mystery", "Sci-Fi", "Thriller"],
#   "kind": "movie",
#   "seen": false,
#   "fav": false,
#   "image_url": "https://m.media-amazon.com/images/M/MV5BODYxZTZlZTgtNTM5MC00N2RhLTg3MjUtNGVkMDJjMGY3YzA5L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX101_CR0,0,101,150_.jpg",
#   "hires_image": null,
#   "file_path": "/Volumes/time_box_2018/movies/The Thirteenth Floor (1999) [1080p]/The.Thirteenth.Floor.1999.1080p.BluRay.x264.YIFY.mp4",
#   "file_stats": null,
#   "file_name": null,
#   "file_title": "The Thirteenth Floor",
#   "when_added": null,
#   "movie_data_loaded": true}
-->
