{% extends 'nav_buttons_thin.html' %}

{% block header %}
<!--TODO REMOVE temporaritly here from nav_buttons thin-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
<!--<script src="https://use.fontawesome.com/releases/v5.7.0/js/all.js"></script>-->
<script id='filter'>
  var prefsInfo = {{ prefs_info|tojson }};
  console.log(`shortlist.html JS prefsInfo uuid:\n ${prefsInfo['uuid']} - inline`);  // sanity check
  console.log(prefsInfo);
</script>
<script id='msl' src="static/shortlist.js"></script>
<link rel="stylesheet" href="{{ url_for( 'static', filename='gallery_grid.css') }}">
{% endblock %}


{% block content %}
<h2>{{title}}</h2>

<h5>offline recipe gallery - add discard button</h5>
    {% for movie_info in movies %}
    <div class='grid-movie-card-v2' id='ink'>
        <div class='poster'><image class='img-poster' src="{{ url_for('static', filename='covers/') }}{{movie_info['hires_image']}}"></image></div>
        <div class='title'>{{ movie_info['title'] }}<span class='year'>&nbsp({{ movie_info['year']}})</span></div>
        <span class='runtime'>{{ movie_info['runtime_hm'] }}</span>
        <div class='rating'>{{ movie_info['rating'] }}</div>
        <div class='synop'>{{ movie_info['synopsis'] }}</div>
        <div class='allcast'>
            {% for n in range(7) %}
                <!--TODO: add more button - or add this to a settings file-->
                <span class='cast'>{{ movie_info['cast'][n] }}, </span>
            {% endfor %}
            <span class='more_cast' id="{{movie_info['id']}}">more...</span>
        </div>
        <div class='genre' id='id_genre'>
            {% for genre in movie_info['genres'] %}
                <button class='genre-bt bt_{{genre}}'>{{ genre }}</button>
            {% endfor %}
        </div>
        <div class='control'>
            <button type='submit' class='control-bt' name='mov_prefs_rate' value="{{  movie_info['id']  }}">RATE</button>
            <button type='submit' class='control-bt' name='mov_prefs_seen' value="{{  movie_info['id']  }}">SEEN</button>
            <button type='submit' class='control-bt' name='mov_prefs_sl'   value="{{  movie_info['id']  }}">REMOVE</button>
            <button type='submit' class='control-bt' name='mov_prefs_play' value="{{  movie_info['title']  }}"><a href="{{url_for('play_movie', movie_id=movie_info['id'])}}">PLAY</a></button>
        </div>
    </div>
    {% endfor %}
    <br>

{% endblock %}

<!--
#   "runtime_hm": "1h40m",
#   "seen": false,
#   "fav": false,
#   "rating": 7.1,
#   "genres": ["Mystery", "Sci-Fi", "Thriller"],
#   "year": "1999",
#   "cast": ["Craig Bierko","Armin Mueller-Stahl", "Gretchen Mol", "Vincent D'Onofrio", "Dennis Haysbert", "Steven Schub",
#            "Jeremy Roberts", "Rif Hutton","Leon Rippy", "Janet MacLachlan", "Brad William Henke", "Burt Bulos",
#            "Venessia Valentino", "Howard S. Miller","Tia Texada", "Shiri Appleby", "Bob Clendenin"],

# EG movie:
# <class 'movie_info_disk.MMdia'>.movie_data
# { "id": "0139809",
#   "title": "The Thirteenth Floor",
#   "synopsis": "Computer scientist Hannon Fuller has discovered something extremely important. He's about to tell the
#               discovery to his colleague, Douglas Hall, but knowing someone is after him, the old man leaves a letter in the
#               computer generated parallel world his company has created (which looks like the 30's with seemingly real people
#                                                                          with real emotions). Fuller is murdered in our real
#               world the same night, and his colleague is suspected. Douglas discovers a bloody shirt in his bathroom and he
#               cannot recall what he was doing the night Fuller was murdered. He logs into the system in order to find the
#               letter, but has to confront the unexpected. The truth is harsher than he could ever imagine...::Danny
#               Rosenbluth",
#   "year": "1999",
#   "cast": ["Craig Bierko","Armin Mueller-Stahl", "Gretchen Mol", "Vincent D'Onofrio", "Dennis Haysbert", "Steven Schub",
#            "Jeremy Roberts", "Rif Hutton","Leon Rippy", "Janet MacLachlan", "Brad William Henke", "Burt Bulos",
#            "Venessia Valentino", "Howard S. Miller","Tia Texada", "Shiri Appleby", "Bob Clendenin"],
#   "runtime_m": "100",
#   "runtime_hm": "1h40m",
#   "rating": 7.1,
#   "genres": ["Mystery", "Sci-Fi", "Thriller"],
#   "kind": "movie",
#   "seen": false,
#   "fav": false,
#   "image_url": "https://m.media-amazon.com/images/M/MV5BODYxZTZlZTgtNTM5MC00N2RhLTg3MjUtNGVkMDJjMGY3YzA5L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyMTQxNzMzNDI@._V1_SX101_CR0,0,101,150_.jpg",
#   "hires_image": null,
#   "file_path": "/Volumes/time_box_2018/movies/The Thirteenth Floor (1999) [1080p]/The.Thirteenth.Floor.1999.1080p.BluRay.x264.YIFY.mp4",
#   "file_stats": null,
#   "file_name": null,
#   "file_title": "The Thirteenth Floor",
#   "when_added": null,
#   "movie_data_loaded": true}
-->
